anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project==0.9.1
clyent==1.2.2
conda==4.11.0
conda-build==3.21.4
conda-content-trust==0+unknown
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2